img.post-bottom-image {
  height: 160px;
}

.image-credit-link {
  text-transform: uppercase;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  border-top: 1px solid #000;
  display: inline-block;
  padding-top: 4px;
  padding-right: 8px;
}
.image-credit-link a {
  text-decoration: none;
}
