.featured-image {
    /* object-fit: cover;
    max-height: 100px;
    max-width: 100%; */
}

body {
    /* background-color: red; */
}

.article-gallery-photos {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}