<% if (post.photos && post.photos.length){ %>
<div class="article-gallery">
  <div class="article-gallery-photos">
    <% post.photos.forEach(function(photo, i){ %>
      <a class="article-gallery-img fancybox" href="<%- url_for(post.path)+photo %>" rel="gallery_<%= post._id %>">
        <% console.log(url_for(post.path)+photo) %>
        <% console.log(post.path) %>
        <img src="<%- url_for(post.path)+photo %>" itemprop="image">
        <!-- <img src="<%- url_for(photo) %>" itemprop="image"> -->
      </a>
    <% }) %>
  </div>
</div>
<% } %>